* {
    margin: 10px;
  }

  body
  {
    background-color: black;
  }


  #home
  {
    margin: -1px 0 0 0;
    padding-bottom: 2cm;
    background-color: #cc66ff;
  }

  #home header,
  #all-conversion-sections section,
  #go-home,
  footer
  {
    background-color: #333;
    padding: 10px;
    color: white;
  }